body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.flexible-container {
  display: flex;
  padding: 150px;
}
.about-me {
  background-image: url(images/shapes/7.png);
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 15px;
}
.my-recipies {
  text-align: center;
}
.food-item {
  width: 33.33%;
  margin-left: 2%;
  margin-right: 2%;
  padding-right: 2px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px gray;
}
.food-item img {
  width: 85%;
  padding-top: 10%;
  padding-right: 10%;
}
